* {
     font-family: "Courier New", Courier, monospace;
}

.center {
    width: 100%;
}

.container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width="100%";
    position: relative;
    z-index: 10;
}

.tag {
    position: absolute;
    border: 1px solid black;
    top: 200px;
    left: 250px;
    z-index: 1000;
    width: 50%;
    margin: 0 auto;
    align: center;
}

 #hnav2 ul {
     list-style-type: none;
     margin: 0;
     padding: 0;
     overflow: hidden;
     background-color: grey;
}
 #hnav2 li {
     float: left;
}

 #hnav2 li a {
     display: block;
     color: white;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
}

 #hnav2 li a:hover {
     background-color: #111;
}
