* {
     font-family: "Courier New", Courier, monospace;
}
 #hnav2 ul {
     list-style-type: none;
     margin: 0;
     padding: 0;
     overflow: hidden;
     background-color: grey;
}
 #hnav2 li {
     float: left;
}
 #hnav2 li a {
     display: block;
     color: white;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
}
 #hnav2 li a:hover {
     background-color: #111;
}
