<!doctype html>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<html>

  <head>

    <title>
      T-Code
      {% block title %}
      {% endblock %}
    </title>

    <h1>
      T-Code
    </h1>

    {% block head %}
    {% endblock %}

    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
     {% endwith %}

    <div id="hnav2">
        <ul>
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('profile', username=current_user.username) }}">Profile</a></li>
            <li>
            {% if current_user.is_anonymous %}
                <a href="{{ url_for('login') }}">Login</a>
            {% else %}
                <a href="{{ url_for('logout') }}">Logout</a>
            {% endif %}
            </li>
        </ul>
    </div>

  </head>

  <body>
    {% block content %}
    {% endblock %}
    <hr>
    © copyright 2018 T-Code
  </body>

</html>