{% extends "base.html" %}
{% block title %}{% endblock %}
{% block head %}{% endblock %}
{% block content %}

<br>
<h2>My snippets</h2>

{% if current_user.is_anonymous %}
    <a href="{{ url_for('login') }}">Login</a> to see your snippets
{% else %}
    <ul>
    {% for snippet in snippets %}
        <li><a href="{{ url_for('snippet', id=snippet.id) }}">{{ snippet.snippetname }}-{{snippet.id}}</a></li>
    {% endfor %}
    </ul>
{% endif %}

<br>
<h2>Top 10 Snippets</h2>
select a snippet to edit
<ul>
    <li>snippet 1</li>
    <li>snippet 2</li>
    <li>snippet 3</li>
</ul>

{% endblock %}
